/* Platform use cases styles */

.use-cases {
  min-height: 620px;
  padding-top: 40px;
  background-image: url("../images/portal-bg.jpg");
  background-position: 50% top;
  background-repeat: no-repeat;
  color: #000;
}

.use-cases h2 {
  margin-bottom: 20px;
  color: #000;
}

.use-cases p {
  width: 415px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #000;
}

.use-cases li {
  margin-bottom: 10px;
}

.use-cases li > a {
  margin-right: 20px;
}

.use-cases li > a:last-child {
  margin-right: 0;
}

.use-cases a.btn-sm {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  font-size: 15px;
  font-weight: 600;
  line-height: 46px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 30px;
  background-color: #fff;
  color: #000;
  border: 2px solid #ffa800;
}

.use-cases a.btn-sm:hover {
  background-color: #ffa800;
}


/* Platform use cases 768px styles */

@media screen and (max-width: 1060px) {

  .use-cases {
    min-height: 680px;
  }

  section.use-cases {
    display: block;
  }

  .container--use-cases {
    width: 745px;
    padding: 0;
  }

}


/* Platform use cases 360px styles */

@media screen and (max-width: 749px) {

  .container--use-cases {
    width: 360px;
  }

  .use-cases {
    min-height: 790px;
    padding-top: 35px;
  }

  .use-cases h2.foremost {
    font-size: 30px;
    font-weight: 300;
  }

  .use-cases p {
    width: 325px;
  }

  .use-cases li {
    margin-bottom: 0;
  }

  .use-cases li > a {
    width: 320px;
    margin-right: 0;
  }
  
}