/* Platform use cases styles */

.use-cases {
  min-height: 1927px;
  padding-top: 60px;
  background-color: #fff;
  color: #000;
}

.container--use-cases {
  width: 958px;
  margin: 0 auto;
}

.main > section.use-cases {
  padding-bottom: 0;
} 

.use-cases h2 {
  margin-bottom: 36px;
  color: #000;
}

.use-cases p {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 90px;
  color: #000;
}

.use-cases span.br {
  display: block;
}

.use-cases li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 477px;
  text-align: center;
  margin-bottom: 75px;
}

.use-cases li:last-child {
  margin-bottom: 0;
}

.use-cases li:last-child,
.use-cases li:last-child a {
  width: 100%;
}

.use-cases a {
  display: inline-block;
  width: 477px;
  text-decoration: none;
}

.use-cases__item div {
  display: table-cell;
  vertical-align: middle;
  width: 477px;
  text-align: center;
}

.use-cases__item:last-child div {
  width: 958px;
}

.use-cases__item--1 div,
.use-cases__item--2 div {
  height: 185px;
}

.use-cases__item--3 div,
.use-cases__item--4 div {
  height: 202px;
}

.use-cases__item--5 div,
.use-cases__item--6 div {
  height: 212px;
}

.use-cases__item--7 div {
  height: 296px;
}

.use-cases img {
  display: block;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}

.use-cases__item h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 32px;
  padding-top: 30px;
  color: #333;
}

.use-cases__item p {
  display: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 55px;
  padding: 0 40px;
  color: black;
}

.use-cases__item:last-child p {
  padding: 0 165px;
}

.use-cases__item:hover a {
  position: absolute;
  top: -50px;
  left: 0;
  padding-top: 50px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 12px 50px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.use-cases__item:hover p {
  display: block;
}


/* Platform use cases 768px styles */

@media screen and (max-width: 1060px) {

  .use-cases {
    min-height: 680px;
  }

  section.use-cases {
    display: block;
  }

  .container--use-cases {
    width: 745px;
    padding: 0;
  }

}


/* Platform use cases 360px styles */

@media screen and (max-width: 749px) {

  .container--use-cases {
    width: 360px;
  }

  .use-cases {
    min-height: 870px;
    padding-top: 35px;
  }

  .use-cases h2.foremost {
    font-size: 30px;
    font-weight: 300;
  }
  
}